body {
  background-color: rgb(132, 132, 132);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

hr {
  width: 500px;
}

#title {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
}

#board {
  margin: 0 auto;
  max-width: 350px;
  height: 420px;
  margin-top: 3px;
  display: flex;
  flex-wrap: wrap;
}

#board:hover {
  cursor: all-scroll;
}

.box {
  border: solid 2px black;
  border-radius: 3px;
  width: 60px;
  height: 60px;
  margin: 2.5px;
  font-size: 36px;
  color: black;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.correct {
  background-color: rgb(77, 131, 77);
  color: whitesmoke;
}

.exists {
  color: whitesmoke;
  background-color: rgb(231, 223, 76);
}

.skill-issue{
  background-color: rgb(88, 88, 88);
  color: whitesmoke;
}

.keyboard-row {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.key-tile {
  width: 36px;
  height: 40px;
  margin: 1px;
  border: 1px solid rgba(0, 0, 0, 0.461);
  border-radius: 3px;

  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter-key-tile {
  width: 76px;
  height: 40px;
  margin: 1px;
  border: 1px solid rgba(0, 0, 0, 0.479);

  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}