* {
  font-family: sans-serif;
}

body {
  background-color: #DDEFFC;
  margin: 0;
  padding: 253px 100px 100px 0;
  height: 1000px;
  text-align: center;
  text-align: center;
}

h1 {
  font-size: 35px;
}

p {
  font-size: 20px;
  margin: 50px;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

#register {
  position: absolute;
  top: 70px;
  border: solid 2px #333;
  border-radius: 10px;
  padding: 10px;
  background-color: #3b6b8e;
  text-align: center;
  height: 100px;
  width: 200px;
  text-decoration: none;
  color: #f2f2f2;
  font-size: 40px;
  display: block;
  transform: translateX(60px);
}

@media screen and (max-width: 600px) {
  #register {
    transform: translateX(0px);
  }
}

/* navbar */

.topnav {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 275ms;
  background-color: #3b6b8e;
  overflow: hidden;
  border-bottom: solid 2px rgb(20, 63, 109);
  height: 250px;
  z-index: 50;
}

.topnav #backgroun {
  background-image: linear-gradient(to right, rgb(0, 61, 91), rgb(0, 171, 229));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.topnav #backgroundimg {
  z-index: 0;
  width: 100%;
  height: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 18px;
  transition: 200ms;
}

.homeLogo {
  background-image: url('../Logo.png');
  background-position: center center;
  background-size: cover;
  height: 46.5px;
  width: 46.5px;
}

.active {
  font-weight: 700;
  border: 0;
  margin: auto;
}

.topnav .icon {
  display: none;
  height: 25px;
}

.topnav a:hover {
  opacity: 80%
}

.left {
  float: left;
  padding-left: 100px;
}

table {
  margin: 50px 200px 50px 200px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 20px;
  padding: 2px 5px 2px 5px;
  text-align: left;
}



@media screen and (max-width: 670px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 670px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}