.topnav {
  background-image: url('../images/Toolbox.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 150px;
}

.sustainabilityCompassText {
  margin: 150px 100px 100px 900px;
}

table {
  margin: 50px auto 50px auto;
  width: 80%;
  border-spacing: 0;
}

th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 20px;
  padding: 2px 5px 2px 5px;
  text-align: left;
}

th.Nature, td.Nature {
  background-color: rgb(128, 154, 128);
}

th.Economy, td.Economy {
  background-color: rgb(118, 118, 193);
}

th.Society, td.Society {
  background-color: rgb(197, 161, 95);
}

th.Wellbeing, td.Wellbeing {
  background-color: rgb(205, 141, 141);
}


@media screen and (max-width: 1600px) {
  .sustainabilityCompassText {
    margin: 150px 50px 100px 800px
  }
}

@media screen and (max-width: 1500px) {
  .sustainabilityCompassText {
    margin: 150px 0px 100px 800px
  }
}

@media screen and (max-width: 1400px) {
  .sustainabilityCompassText {
    margin: 100px -25px 100px 775px
  }
}

@media screen and (max-width: 1300px) {
  .sustainabilityCompassText {
    margin: 50px -25px 100px 775px
  }
}

@media screen and (max-width: 1200px) {
  .sustainabilityCompassText {
    margin: 200px;
    float: none;
    
  }
  img {
    float: none;
    padding: none;
    margin: none;
    text-align: center;
  }
}

.developmentGoals {
  width: 80%;
}

#left-text {
  text-align: left;
  transform: translateX(200px);
}

@media screen and (max-width: 1000px) {
  #left-text {
    transform: translateX(0px);
  }
}

.MO-GO-questions {
  background-color: rgb(62, 159, 221);
  background-clip: padding-box;
  border: 0px rgb(245, 245, 245);
  vertical-align: middle;
  padding: 1px 1px;
}

.leftFloat {
  float: left;
  width: 35%;
  margin-left: 10%;
  margin-right: 2%;
  margin-top: 15px;
}

.rightFloat {
  float: right;
  width: 40%;
  margin-right: 10%;
  margin-left: 2%;
  margin-top: 15px;
}