#register {
  margin: auto;
  top: 30px;
  position: relative;
}

#backgroundimg {
  background-image: url('../images/Visiting-Info.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 150px;
}

#HotelInfoText {
  width: 200px;
  height: 100px;
  font-size: 20px;
  font-weight: 800;
  border-radius: 10px;
  margin-top: 100px;
  background-color: #b3dfff;
}

#HotelInfoText:hover {
  background-color: lightblue;
}

.hidden {
  display: none;
}

#googlemap {
  margin-top: 30px;
}